<!-- RMIT University Vietnam -->
<!-- Course: COSC2430 Web Programming -->
<!-- Semester: 2023A -->
<!-- Assessment: Assignment 2 -->
<!-- Author: Hoang Thai Phuc, Nguyen Hoang Minh, Tran Nguyen Anh Minh, Tran Luu Quang Tung, Dao Bao Duy -->
<!-- ID: s3978081, s3977773, s3979367, s3978481, s3978826 -->
<!-- Acknowledgement: W3School, TailwindCss, ChatGPT, Passport documentation, RemixIcons, Freepik, Web Dev Simplified, Shopee, Tiki, Lazada -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/_head", {title: "Terms of Services"}) %>
</head>
<body>
    <%- include('partials/_header.ejs') %>
    <main class="mx-14">
        <h1 class="font-bold text-5xl my-5">Terms of Services for Shopmee</h1>
        <p class="my-5 ml-10">Last updated: May 13, 2024</p>
        <p class="my-5 ml-10">Shopmee does not support changing the methods of refund after the refund procedures have been completed.</p>
        <h1 class="font-bold text-2xl my-5 ml-10">1. Acceptance of Terms and Conditions</h1>
        <p class="my-5 ml-14">1.1 The following Shopmee Platform engagement tools terms and conditions (the “Engagement Tools Terms”) govern the use of the Shopmee Platform engagement tools and other related Services (collectively, the “Tools” and, each a “Tool”) provided by Shopmee on the Shopmee Platform.</p>
        <p class="my-5 ml-14">1.2. By using any of the Tools, the Users agree to be bound by these Engagement Tools Terms. The Engagement Tools Terms are in effect concurrently with the current Terms of Use and are incorporated into these Engagement Tools Terms by reference. Unless otherwise specified, terms defined and regulated under these Terms of Use will apply to these Engagement Tools Terms.</p>
        <p class="my-5 ml-14">1.3. The use of the Tools may be subject to additional terms (“Additional Terms”) that Shopmee may prescribe from time to time. Concerning any Tool, the Additional Terms that govern the use of such Tool shall be made accessible via such Tool. If you do not agree to any of the Additional Terms, you should discontinue your use of the Tools that are subject to those Additional Terms.</p>
        <p class="my-5 ml-14">1.4. In the case of any inconsistency or conflict between any documents referred to in these Engagement Tools Terms that is not expressly resolved in those documents, such inconsistency or conflict will be resolved in the following order of descending priority: the relevant Additional Terms, the Engagement Tools Terms, and the Terms of Use.</p>
        <h1 class="font-bold text-2xl my-5 ml-10">2. Tools Conditions</h1>
        <p class="my-5 ml-14">2.1. The Tools are offered solely for a User’s personal entertainment and benefit. The use of the Tools for business or commercial purposes of the User is strictly prohibited.</p>
        <p class="my-5 ml-14">2.2. Shopmee may, from time to time and without giving any reason or prior notice, upgrade, modify, suspend, discontinue the provision of, or remove any of the Tools, and Shopmee shall not be liable if any such upgrade, modification, suspension, discontinuation or removal affects your use of the Shopmee Platform or prevents you from accessing any of the Tools.   </p>
        <p class="my-5 ml-14">2.3. Users shall be prohibited from running the Tools (including all individual mobile application page interfaces) with programs other than the relevant Shopmee client program provided by Shopmee. For illustration purpose, examples of prohibited programs include automated bots and other tools meant to replace or supplement the relevant Shopmee client program provided by Shopmee, as well as scripts and completely or partially automated programs that provide any User with any advantage over other Users by enabling, for example, auto-refresh functions and other integrated browser mechanisms that use or concern automated procedures for using the Tools.</p>
        <p class="ml-14 my-5">2.4. Users are, under no circumstances, permitted to do any of the following:</p>
        <ul>
            <li class="ml-20 my-5">(a) create, exploit or use bugs, cheats, mods and/or hacks, or any other third-party software products that may change the result, function, or gameplay of the Tools;.</li>
            <li class="ml-20 my-5">(b) use software that allows the mining or scraping of data or otherwise intercepts or collects information in connection with the Tools;</li>
            <li class="ml-20 my-5">(c) use any rewards (for instance, virtual items such as LazCoins, deals, Discount Code of the Shopmee Platform, and Discount Code of the Sellers) acquired via the Tools for any purpose other than the purchase of Products on the Shopmee Platform;</li>
            <li class="ml-20 my-5">(d) sell, buy or exchange Shopmee User Accounts on the Shopmee Platform; and</li>
            <li class="ml-20 my-5">(e) the foregoing shall include all circumventions, similar actions, or actions that produce an effect that matches the aforementioned prohibitions.</li>
        </ul>
        <h1 class="font-bold text-2xl my-5 ml-10">3. Warranties and Liability</h1>
        <p class="my-5 ml-14">3.1. Shopmee offers Tools within the context of its technical and operational capabilities. </p>
        <p class="my-5 ml-14">3.2. Unless expressly set out in these Engagement Tools Terms or the relevant Additional Terms, to the fullest extent permitted by law, neither Shopmee nor any of its service providers or affiliates makes any warranty (whether express or implied), representation, or undertaking about the Tools (for instances, their accuracy, availability, and reliability), any software or hardware used with the Tools, any application or feature accessed by a User using the Tools, or the reliability or quality of the underlying telecommunications network accessed by such User using the Tools. </p>
        <p class="my-5 ml-14">3.3. The Tools are provided on an “as is” and “as available” basis, and their availability is subject to the availability, functionality, and reliability of resources used to provide the Tools (for instance, the Shopmee Platform, Lazada’s systems, and the relevant third party tools), downtime and lack of availability (whether for technical reasons, required maintenance work, or others), as well as events, circumstances or causes beyond Shopmee's reasonable control. </p>
        <p class="my-5 ml-14">3.4. To the fullest extent permitted by law, Shopmee shall not be responsible to any User for any loss, damage, fines, legal action, claim, or compensation of whatever nature arising from or relating to such User's use of, or inability to use, the Tools (collectively, the “Liabilities”) which, for instance, includes (i) such User’s breach of these Engagement Tools Terms, (ii) any alleged unauthorized transactions, disruptions, errors, defects or unavailability of the Tools, and (iii) any loss of data or damage to any software or hardware used by such User to access the Tools.</p>
        <p class="my-5 ml-14">3.5. If any Liabilities are not excluded under Clause 3.4 of these Engagement Tools Terms, to the fullest extent permitted by law, Lazada’s maximum aggregate liability to any User in respect of such Liabilities, whether under all applicable laws of contract, tort, or otherwise, shall be limited to VND1,000,000.</p>

        <h1 class="font-bold text-2xl my-5 ml-10">4. Content Restrictions</h1>
        <p class="my-5 ml-14">4.1. The Tools include various content, imagery, recording, media, and graphics that are protected by trademarks, copyrights, or other means for the benefit of Shopmee or third parties. Unless explicitly permitted by these Engagement Tools Terms, or otherwise agreed in writing by Shopmee, no User or any third party may edit, copy, distribute, publicly reproduce or use any Tool for any purpose other than the purpose set out in clause 2.1 of these Engagement Tools Terms. Copyright information and brand names may not be changed, hidden, or removed. The term “content” includes all and any data, images, text, graphics, music, sounds, effect, videos, software programs and codes, and any other information provided or developed by Shopmee, and any such services available for download. </p>
        <p class="my-5 ml-14">4.2. Users are obliged to abstain from any measure which may compromise or interrupt the proper functioning of the Shopmee Platform, the Tools, or any individual services or functions on the Shopmee Platform. Users are also required to abstain from any measure which may allow unauthorized access to data.</p>
       
        <h1 class="font-bold text-2xl my-5 ml-10">5. User’s Obligations</h1>
        <p class="my-5 ml-14">5.1. Each User acknowledges and agrees: </p>
        <ul>
            <li class="ml-20 my-5">(a) to comply with all applicable laws and regulations when using the Tools;</li>
            <li class="ml-20 my-5">(b) to comply with all third party terms (including, for instance, any applicable terms of use, policies, and guidelines, as well as third party terms of sharing channels that a User may use to invite others to use the Tools) that apply to the use of the Tools used by such User; </li>
            <li class="ml-20 my-5">(c) to be responsible for all information that is communicated, submitted, or transmitted, whether to Shopmee or third parties, from such User's account or device in the course of such User’s use of the Tools;</li>
            <li class="ml-20 my-5">(d) not to use the Tools or permit the use of the Tools in any manner which may adversely affect other Customers’ use of the Tools or the goodwill or reputation of Shopmee or the Shopmee group of companies; and </li>
            <li class="ml-20 my-5">(e) to be responsible for complying with these Engagement Tools Terms.</li>
        </ul>
        <p class="my-5 ml-14">5.2. Where Shopmee, in its sole discretion, discovers or suspects that a User has breached any of these Engagement Tools Terms or the relevant Additional Terms, Shopmee may take all such steps and remedies as it deems appropriate. Such steps may include, amongst other steps that Shopmee may deem fit from time to time, the following: </p>
        <ul>
            <li class="ml-20 my-5">(a) to investigate such Shopmee User Account;</li>
            <li class="ml-20 my-5">(b) to prevent, restrict or suspend the access of such User to the Tools (or any part thereof) or the Shopmee Platform;</li>
            <li class="ml-20 my-5">(c) to report any activity, it suspects to be in violation of any applicable law, statute, or regulation to the appropriate authorities and to co-operate with such authorities;</li>
            <li class="ml-20 my-5">(d) to forfeit any rewards which a User may have received due to the User’s use of the Tools; and</li>
            <li class="ml-20 my-5">(e) to cancel any Orders placed during a User’s use of the Tools.</li>
        </ul>


    </main>
    <%- include('partials/_footer.ejs') %>
</body>
</html>