<!-- RMIT University Vietnam -->
<!-- Course: COSC2430 Web Programming -->
<!-- Semester: 2023A -->
<!-- Assessment: Assignment 2 -->
<!-- Author: Hoang Thai Phuc, Nguyen Hoang Minh, Tran Nguyen Anh Minh, Tran Luu Quang Tung, Dao Bao Duy -->
<!-- ID: s3978081, s3977773, s3979367, s3978481, s3978826 -->
<!-- Acknowledgement: W3School, TailwindCss, ChatGPT, Passport documentation, RemixIcons, Freepik, Web Dev Simplified -->

<div id="category-bar" class="w-full border-solid-1 border-b-gray-300">
    <nav class="flex px-4 md:px-12 py-4 w-full justify-between">
        <!-- Category button (for mobile device) -->
        <div id="cate-btn" class="flex justify-center gap-2 items-center cursor-pointer text-gray-400 hover:text-gray-500 md:hidden">
            <span class="font-medium text-gray-900">Categories</span>
            <svg class="h-5 w-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z"></path></svg>
        </div>

        <!-- Category list -->
        <ul id="cate-sidemenu" class="whitespace-nowrap bg-white offcanvas-l [&_li]:w-full [&_li]:text-center [&_a]:px-12 [&_a]:py-4 [&_a:hover]:bg-violet-200 sidemenu-transition-300 md:static md:flex-row md:bg-transparent md:[&_a]:p-0 md:gap-6  md:[&_a:hover]:bg-transparent md:[&_a:hover]:text-violet-400">
            <li><a class="block" href="/users/customer?category=Clothes">Clothes</a></li>
            <li><a class="block" href="/users/customer?category=Electronic+and+Appliances">Shoes</a></li>
            <li><a class="block" href="/users/customer?category=Food+and+Beverages">Watch</a></li>
            <li><a class="block" href="/users/customer?category=Toys">...</a></li>
        </ul>
   
    </nav>
</div>


