<!-- RMIT University Vietnam -->
<!-- Course: COSC2430 Web Programming -->
<!-- Semester: 2024A -->
<!-- Assessment: Full-stack Web Application -->
<!-- Author: Lam Quang Nhat,Bui Phuong Dong Quan, Nguyen Minh Khoi, Tran Nguyen Khang, Tran Gia Hung -->
<!-- ID: s3980424, s3975939, s3978862, s3935748, S3979486 -->
<!-- Acknowledgement: W3School, TailwindCss, ChatGPT, Passport documentation, RemixIcons, Freepik, Web Dev Simplified -->
                    <!-- Feautured product section -->
                    <section class="flex flex-col justify-center p-2 m-2 rounded  mt-10">
                        <!-- Div contains h1: Feautured product ...  -->
            <div class="flex flex-row justify-center mt-2 mx-1 mb-5">
                <h1 class="font-sans font-bold sm:text-3xl lg:text-3xl md:text-3xl italic my-3">
                    Featured Products
                </h1>
            </div>
                        <!-- Div contains h1: Feautured product ...  -->
                            <!-- Div contains product cards -->
            <div class="flex flex-row justify-around flex-wrap min-w-[240px] [&>div]:w-[90%] sm:[&>div]:w-2/5  md:[&>div]:w-1/5">
                <% if (locals.products != null) { %>
                    <% products.forEach(product => { %>
                        <%- include('_card', {product}) %>
                    <% }); %>
                <% } %>
            </div>
                            <!-- Div contains product cards -->
        </section>
                            <!-- Feautured product section -->